* {
    box-sizing: border-box;
}

.App {
    background-color: var(--app-background);
    padding-bottom: 8rem;
}

.demo-link {
    background-color: var(--demo-link-background);
    padding: 0.5rem 1rem;
    border-radius: 1%;
    border: 1px dashed black;
    color: var(--demo-link-color);
}

.demo-link:hover {
    color: var(--white);
    background-color: var(--dark-purple);
    text-decoration: underline;
}

.demo-screenshot {
    max-width: 32rem;
    margin: 1rem;
    box-shadow: 0 0 2px 1px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: var(--link-color);
}

p {
    font-size: 18px;
    line-height: 1.5;
}

a:hover {
    color: var(--link-hover-color);
}

section {
    min-height: 100vh;
    padding: 1rem 1rem;
}

.card {
   background-color: var(--card-background-color); 
}

@media (max-width: 480px) {
    section {
        padding: 2rem 1rem;
    }
}

.section-card {
    border: 1px solid var(--black);
    background-color: var(--section-card-background);
    padding: 2rem 1rem;
    width: 100%;
}

@media (min-width: 880px) {
    .section-card {
        max-width: 780px;
    }
}

li {
    list-style-position: inside;
}

ul, ol, h2, h3, h4 {
    font-weight: 400;
    margin: 0;
    padding: 0;
}
