* {
    box-sizing: border-box;
}

.App {
    background-color: var(--app-background);
    padding-bottom: 0;
}

.demo-link {
    background-color: var(--demo-link-background);
    padding: 0.5rem 1rem;
    border-radius: 1%;
    border: var(--dashed-border);
    border-color: var(--demo-link-color);
    color: var(--demo-link-color);
}

.demo-link:hover {
    color: var(--black);
    text-decoration: underline;
}

.demo-screenshot {
    max-width: 32rem;
    margin: 1rem;
    box-shadow: 0 0 2px 1px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: var(--link-color);
}

p {
    font-size: 18px;
    line-height: 1.5;
}

ol, ul {
    text-align: left;
}

a:hover {
    color: var(--link-hover-color);
}

section {
    min-height: 100vh;
    padding: 4rem 1rem;
}

.card {
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    opacity: .96;
    z-index: 2;
    text-align: center;
    max-width: 810px;
}

.card-sm {
    padding: 15px 20px;
}

@media (max-width: 480px) {
    section {
        padding: 2rem 1rem;
    }
}

.section-card {
    border: 1px solid var(--black);
    background-color: var(--section-card-background);
    padding: 2rem 1rem;
    width: 100%;
}

@media (min-width: 880px) {
    .section-card {
        max-width: 780px;
    }
}

li {
    list-style-position: inside;
}

h1, h2, ul, ol, h2, h3, h4 {
    font-weight: 400;
    margin: 0;
    padding: 0;
}
