section#hero {
    background-image: url("../inside_ups.jpg");
}

section#oldschool {
    background: url("../new-haircut-osrs.png");
}

section#blog {
    background: url("../github_actions_site.png");
}

section#blog .card {
    background-color: #ffdbf2;
}

section#larder .card {
    background-color: #a3ffae;
}

section#oldschool .card {
    background-color: azure;
}

section#larder {
    background: url("../nutrition_label_black_beans.jpg");
    opacity: 90%;
}

.video-section {
  position: relative;
  min-height: 100vh; /* or whatever height you want */
  overflow: hidden;
}

/* background layer */
.video-section .bg-video {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.video-section video {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

/* content layer */
.video-section .section-content {
  position: relative;
  z-index: 1;
  padding: 4rem;
  color: white;
}


section#todolist-section {
    background: url("../todolist-screenshot.png");
}

section#health-section {
    background: url("../health-mvp.png");
}

section#hots {
    background: url("../another-me.jpg");
    background-size: contain;
}