section#hero {
    background-image: url("../inside_ups.jpg");
}

section#gob-guides {
    background: url("../inside_sote_library.png");
}

section#blog {
    background: url("../github_actions_site.png");
}

section#blog .card {
    background-color: #ffdbf2;
}

section#larder .card {
    background-color: #a3ffae;
}

section#gob-guides .card {
    background-color: azure;
}

section#larder {
    background: url("../nutrition_label_black_beans.jpg");
    opacity: 90%;
}

section#todolist-section {
    background: url("../todolist-screenshot.png");
}

section#health-section {
    background: url("../health-mvp.png");
}