.hero-card-heading {
    font-size: 2.3rem;
}

.hero-card-image img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.hero-card-list {
    padding: 0;
    list-style-type: disc;
}

section#hero {
    background-image: url("../inside_ups.jpg");
}