#hero-card {
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    opacity: .9;
    z-index: 2;
    text-align: center;
    max-width: 810px;
}

.hero-card-heading {
    font-size: 2.3rem;
}

.hero-card-image img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.hero-card-list {
    padding: 0;
    list-style-type: disc;
}

section#hero {
    background-image: url("../inside_ups.jpg");
}