:root {
  --main-pink: rgb(141, 52, 88);
  --main-purple: rgb(131, 131, 248);
  --dark-purple: rgb(212, 40, 255);
  --light-purple: rgba(121, 71, 206, 0.355);
  --lightish-blue: rgba(0, 45, 226, 0.887);
  --blackish-blue: rgba(0, 2, 10, 0.887);
  --white: rgb(253, 253, 253);
  --light-pink: rgba(255, 129, 238, 0.985);
  --lighter-pink: rgb(241, 189, 255);
  --green: rgb(175, 241, 184);
  --black: rgba(0, 0, 0, 0.924);

  --app-background: var(--light-purple);
  --menu-background: var(--lighter-pink);

  --link-color: var(--lightish-blue);
  --link-hover-color: var(--blackish-blue);
  --hero-card-background: var(--light-pink);
  --section-card-background: var(--white);

  --demo-link-color: var(--lightish-blue);
  --demo-link-background: var(--white);

  --card-background-color: var(--blackish-blue);

  --dashed-border: 1px dashed black;
}
